@import url('https://fonts.googleapis.com/css2?family=Redressed&family=Merriweather:wght@300;400;700&display=swap');

.top-nav {
    background-color: #E8C07D;
    color: red;
    padding-top: 5px;
    padding-bottom: 5px;
}
h1{
    font-family: 'Merriweather', serif;
}
.navbar-expand-lg {
    background-color: #E8C07D;
    color: #7E370C;
}
.top-nav p {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 10px;
}

.top-nav span,
.top-nav i {
    vertical-align: middle;
}

.navbar {
    box-shadow: var(--shadow);
}