
<div class="container" >
    <div class="row">
        <div class="box" *ngFor = "let animal of animals">
          <div class="top">
            <img src="../../assets/img/pic2.jpg" alt="" />
            <!-- <span
              ><i class="fas fa-heart"></i><i class="fas fa-exchange-alt"></i
            ></span> -->
          </div>
          <div class="bottom">
            <h3>{{animal.prenom}} </h3>
            <!-- <p>
              A membre of You Can Save Me association!
            </p> -->
    
            <div class="advants">
              <table>
                <tr>
                  <td>
                    <i *ngIf="animal.genre=='Female'" class="bi bi-gender-female" style="font-size: 20px"></i>
                    <i *ngIf="animal.genre=='Male'" class="bi bi-gender-male" style="font-size: 20px"></i>
                </td>
                  <td style="padding: 10px;">{{animal.genre}}</td>
                </tr>
                <tr>
                  <td><i class="bi bi-activity" style="font-size: 20px"></i></td>
                  <td style="padding: 10px;">{{animal.age}} months.</td>
                </tr>
                <tr>
                  <td><i class="bi bi-calendar-heart" style="font-size: 20px"></i></td>
                  <td style="padding: 10px;">{{animal.date_entre}}</td>
                </tr>
                <tr>
                    <td >
                        <i *ngIf="animal.vaccin==true" class="bi bi-heart-fill text-success" style="font-size: 20px"></i>
                        <i *ngIf="animal.vaccin==false" class="bi bi-heart-fill text-danger" style="font-size: 20px"></i>
                        
                    </td>
                    <td>
                        <i *ngIf="animal.sterilise==true" class="bi bi-suit-club-fill text-success" style="font-size: 20px;margin-left: 30px;"></i>
                        <i *ngIf="animal.sterilise==false" class="bi bi-suit-club-fill text-danger" style="font-size: 20px;margin-left: 30px;"></i>
                    </td>
                  </tr>
              </table>
            </div>
            
            <div class="boutton">
              <table>
                <tr>
                  <td><button (click) = "animalDetails(animal.id_animal)" type="button" class="btn btn-info"><i class="bi bi-info-circle"></i></button></td>
                  <td><button (click) = "updateAnimal(animal.id_animal)" type="button"  class="btn btn-secondary"><i class="bi bi-pencil-square"></i></button></td>
                  <td> <button (click) = "deleteAnimal(animal.id_animal)"  class="btn btn-danger"><i class="bi bi-trash"></i></button></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
