
<table class = "table table-striped" style="margin-top: 50px;">
    <thead>
        <tr>
            <th> Title</th>
            <th> Description </th>
            <th> Type</th>
            <th> Start Date</th>
            <th> Deadline</th>
            <th> Status</th>
            <th> </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let task of tasks" >
            <td> {{ task.titre}} </td>
            <td> {{ task.descriptif }} </td>
            <td> {{ task.type }} </td>
            <td> {{ task.date_debut }} </td>
            <td> {{ task.date_fin }} </td>
            <td> {{ task.statut }} </td>
            <td>
                <button (click) = "taskDetails(task.id_task)" class = "btn btn-info" style="margin-right: 10px"> View</button>
                <button (click) = "updateTask(task.id_task)" class = "btn btn-success"> Update</button>
                <button (click) = "deleteTask(task.id_task)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                
            </td>
        </tr>
    </tbody>
</table>
